[submodule "themes/mini"]
	path = themes/mini
	url = https://github.com/J3RN/hugo-theme-mini.git
[submodule "static/goe"]
	path = static/goe
	url = https://github.com/J3RN/game-of-evolution
[submodule "themes/congo"]
	path = themes/congo
	url = https://github.com/jpanther/congo.git
	branch = stable
