nav img {
  border-radius: 0.25rem;
}

.timeline {
  border-left: 1px solid rgba(var(--color-primary-400));
  padding-left: 10px;
}

.timeline > article h3:before {
  content: "";
  display: inline-block;
  background: rgba(var(--color-primary-400));
  min-width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: -15.5px;
  margin-right: 5.5px;
}

.taxonomy-list {
  display: block;
}

dl {
  background: rgba(128, 128, 128, 0.1);
  display: grid;
  padding: 5px;
  grid-template-columns: 1fr;
}

dt {
  font-weight: bold;
}

dd {
  font-style: italic;
  padding-left: 30px;
}


@media (min-width: 1024px) {
  dl {
    grid-template-columns: 1fr 3fr;
  }

  dd {
    padding-left: 0px;
  }

  html {
    font-size: 16pt;
  }
}

.prose p {
    text-align: justify;
}

.prose code {
    padding: 0 5px;
    display: inline-block;
}

.prose code::before {
  content: none;
}

.prose code::after {
  content: none;
}

.prose a code {
  text-decoration: underline;
  transition-duration: 150ms;
  max-height: 26px;
}

.prose a:hover code {
  color: rgba(var(--color-neutral),1);
  background-color: var(--tw-prose-code);
}

.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"], [class~="not-prose"] *))::before {
    content: none;
}

.prose :where(blockquote p:last-of-type):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
    content: none;
}

aside {
  background: rgba(128,128,128,0.2);
  padding: 15px;
  border-radius: 0.375rem;
}

aside > *:first-child {
    margin-top: 0;
    padding-top: 0;
}

aside > *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.cards {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.cards > li {
  display: block;
  width: 47%;
  border: 2px solid var(--tw-prose-headings);
  border-radius: 5px;
  padding: 20px;
}

@media screen and (max-width: 700px) {
  .cards > li {
    width: 100%;
  }
}

.cards > li h4 {
  margin-top: 0;
}

.cards > li img {
  border: 1px solid black;
}

.cards > li .actions {
  margin: 0;
  padding: 0;
}

.cards > li .actions a {
  border: 1px solid var(--tw-prose-links);
  border-radius: 5px;
  text-decoration: none;
  padding: 3px;
}
